openapi: '3.0'

# ############################################################################ #
# Info
# ############################################################################ #

info:
  title: Pact REST API
  description: |
    Transactional API for a runtime offering Pact smart contracts.
  version: '1.0'
  x-logo:
    url: 'https://i.imgur.com/bAZFAGF.png'
    # backgroundColor: '#0033A0'
    alttext: Kadena Chainweb Logo

# ############################################################################ #
# Servers
# ############################################################################ #

servers:
- url: "https://api.chainweb.com/chainweb/mainnet01/{apiVersion}/chain/{chainId}/pact"
  description: Pact API for a chain on the Kadena mainnet.
  variables:
    apiVersion:
      default: "0.0"
    chainId:
      default: "0"
- url: "https://api.testnet.chainweb.com/chainweb/testnet04/{apiVersion}/chain/{chainId}/pact"
  description: Pact API for a chain on the Kadena testnet.
  variables:
    apiVersion:
      default: "0.0"
    chainId:
      default: "0"



# ############################################################################ #
# Paths
# ############################################################################ #

paths:

  # ########################################################################## #
  # Local
  # ########################################################################## #

  /local:
    post:
      description: |
        Blocking/sync call to submit a command for non-transactional execution. In a
        blockchain environment this would be a node-local “dirty read”. Any database
        writes or changes to the environment are rolled back.

      tags: [endpoint-local]
      summary: local
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/command'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/command-result'

  /send:
    post:
      description: |
        Asynchronous submission of one or more public (unencrypted) commands
        to the blockchain for execution.
      tags: [endpoint-send]
      summary: send
      requestBody:
        content:
          application/json:
            schema:
              type: array
              minItems: 1
              items:
                $ref: '#/components/schemas/command'
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  requestKeys:
                    description: Request keys for use with `poll` or `listen` to retrieve results.
                    type: array
                    items:
                      $ref: '#/components/schemas/request-key'

  /poll:
    post:
      description: |
        Allows polling for one or more command results by request key.
      summary: poll
      tags: [endpoint-poll]
      requestBody:
        content:
          application/json:
            schema:
              required: [requestKeys]
              properties:
                requestKeys:
                  type: array
                  minItems: 1
                  items:
                    $ref: '#/components/schemas/request-key'
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/command-result'

  /listen:
    post:
      description: |
        Blocking request for single command result.
      summary: listen
      tags: [endpoint-listen]
      requestBody:
        content:
          application/json:
            schema:
              required: [listen]
              properties:
                listen:
                  $ref: '#/components/schemas/request-key'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/command-result'




# ############################################################################ #
# Components
# ############################################################################ #

components:

  # ########################################################################## #
  # Schemas
  schemas:

    # ######################################################################## #
    # Command Schema and related

    command:
      title: Pact Command
      tags: [model-command]
      description: Represents a single blockchain Pact transaction.
      required: [cmd,hash,sigs]
      example:
        $ref: '#/components/examples/command'
      properties:
        cmd:
          $ref: '#/components/schemas/cmd-field'
        hash:
          $ref: '#/components/schemas/cmd-hash'
        sigs:
          $ref: '#/components/schemas/cmd-sigs'

    cmd-field:
      description: |
        Stringified JSON payload object, containing execution payload,
        signatories and metadata. Represents non-malleable signed transaction data.
      type: string

    cmd-hash:
      description: |
        Unpadded Base64URL of Blake2s-256 hash of the `cmd` field value. Serves as a command
        `requestKey` since each transaction must be unique.
      type: string
      contentEncoding: base64url
      example: "H6XjdPHzMai2HLa3_yVkXfkFYMgA0bGfsB0kOsHAMuI"

    cmd-sigs:
      description: |
        List of signatures corresponding one-to-one with `signers` array in the payload.
      type: array
      minItems: 0
      items:
        properties:
          sig:
            type: string
            contentEncoding: base16
            description: |
              Base16-encoded cryptograhic signature of `cmd` field data
              for corresponding signer in payload.
            example:
              "8d452109cc0439234c093b5e204a7428bc0a54f22704402492e027aaa9375a34c910d8a468a12746d0d29e9353f4a3fbebe920d63bcc7963853995db015d060f"

    payload:
      description: |
        Pact Command Payloads are encoded as strings in Pact commands, and contain all
        non-malleable data for a transaction.
      tags: [model-payload]
      required: [payload,meta,signers,networkId,nonce]
      properties:
        payload:
          oneOf:
          - title: Exec Message
            description: Standard pact execution.
            properties:
              code:
                type: string
                description: Executable pact code.
              data:
                type: any
                description: Arbitrary JSON to be accessed via `read-msg`, `read-integer` et al in Pact code.
          - title: Continuation Message
            description: Continuation of a previous transaction defpact.
            properties:
              pactId:
                type: string
                description: ID of pact running previous step.
              step:
                type: number
                description: Step in defpact to execute.
              rollback:
                type: boolean
                description: Whether to execute a specified rollback on this step.
              data:
                type: any
                description: Arbitrary JSON to be accessed via `read-msg`, `read-integer` et al in Pact code.
              proof:
                type: string
                contentEncoding: base64url
                description: Backend-specific data for continuing a cross-chain proof.
        meta:
          description: "Platform-specific metadata. Public/Chainweb described here."
          required: [chainId,sender,gasLimit,gasPrice,ttl,creationTime]
          properties:
            chainId:
              type: string
              description: Platform-specific chain identifier. For chainweb this is the stringified chain number.
            sender:
              type: string
              description: Indicates gas-paying account.
            gasLimit:
              type: number
              minimum: 1
              description: Limits total amount of gas to be consumed.
            gasPrice:
              type: number
              description: Specifies price per gas unit to be charged.
            ttl:
              type: number
              minimum: 1
              maximum: 180000
              description: Time in seconds after creation time that transaction can be executed.
            creationTime:
              type: number
              description: POSIX epoch sending time for transaction.
        signers:
          description: List of signers, corresponding with list of signatures in outer command.
          type: array
          items:
            title: Signer
            required: [pubKey]
            properties:
              pubKey:
                type: string
                description: "Public key image. Pact default is base16 ED25519 encoding."
              address:
                type: string
                description: "Address, if any. Pact default expects this to match pubKey."
              scheme:
                type: string
                description: "Signer scheme. Default is ED25519."
                enum: [ED25519,ETH]
              clist:
                description: List of capabilities associated with/installed by this signer.
                properties:
                  name:
                    type: string
                    description: Fully-qualified capability name.
                  args:
                    type: array
                    items:
                      $ref: '#/components/schemas/pact-value'
        networkId:
          description: Backend-specific identifier of target network.
          type: string
          enum: [mainnet01,testnet04]
        nonce:
          description: Arbitrary user-supplied value.
          type: string



    # ######################################################################## #
    # Command Result and related

    command-result:
      title: Command Result
      tags: [model-command-result]
      example:
        $ref: '#/components/examples/command-result'
      description: The result of attempting to execute a single well-formed Pact command.
      required: [reqKey,result,txId,logs,metaData,continuation]
      properties:
        reqKey:
          $ref: '#/components/schemas/request-key'
        result:
          oneOf:
          - title: Success
            properties:
              status:
                type: string
                enum: [success]
              data:
                $ref: '#/components/schemas/pact-value'
          - title: Failure
            properties:
              status:
                type: string
                enum: [failure]
              error:
                $ref: '#/components/schemas/pact-error'
        txId:
          type: number
          description: Database-internal transaction tracking ID.
        logs:
          type: string
          description: Backend-specific value providing image of database logs.
        metaData:
          properties:
            blockTime:
              type: number
              description: POSIX time of block
            prevBlockHash:
              type: string
              description: Parent Block hash of containing block.
            blockHash:
              type: string
              description: Block hash of containing block.
            blockHeight:
              type: number
              description: Block height of containing block.
        events:
          type: array
          items:
            $ref: '#/components/schemas/event'
        continuation:
          description: "Describes result of a defpact execution."
          properties:
            pactId:
              type: string
              description: Identifies this defpact execution. On first step generally matches request key.
            step:
              type: number
              description: Identifies which step executed in defpact.
            stepCount:
              type: number
              description: Total number of steps in pact.
            executed:
              type: boolean
              description: optional value for private pacts, indicates if step was skipped.
            stepHasRollback:
              type: boolean
              description: indicates if pact step has rollback.
            continuation:
              description: Closure describing executed pact.
              properties:
                def:
                  type: string
                  description: Fully-qualified defpact name.
                args:
                  type: array
                  items:
                    $ref: '#/components/schemas/pact-value'
            yield:
              description: Value yielded during pact step, optionally indicating cross-chain execution.
              properties:
                data:
                  type: object
                  description: Pact value object containing yielded data.
                  additionalProperties:
                    $ref: '#/components/schemas/pact-value'
                provenance:
                  properties:
                    targetChainId:
                      type: string
                      description: "Chain ID of target chain for next step."
                    moduleHash:
                      type: string
                      description: "Hash of module executing defpact."

    pact-value:
      description: Pact value compound type.
      tags: [model-pact-value]
      oneOf:
      - title: String
        description: Pact strings encode directly to JSON strings.
        type: string
      - title: Decimal
        description: JSON numbers encode to Pact decimals.
        type: number
      - title: Integer
        description: Pact integers use a special schema.
        required: [int]
        properties:
          int:
            type: number
            description: JSON number to be truncated to an integer value.
      - title: Boolean
        description: JSON booleans encode to Pact booleans.
        type: boolean
      - title: Object
        type: object
        description: JSON objects not matching other Pact Value schemas become Pact objects.
        additionalProperties:
          $ref: '#/components/schemas/pact-value'
      - title: Time
        required: [time]
        properties:
          time:
            type: string
            description: Literal time value using the UTC time format.
            example: "1970-01-01T00:00:00Z"
      - title: List
        description: JSON lists become Pact lists.
        type: array
        items:
          $ref: '#/components/schemas/pact-value'
      - title: Module Reference
        description: Special pact value to directly reference a module or interface.
        properties:
          refName:
            type: string
            description: "Fully-qualified module or interface name."
      - title: Guard
        description: Special pact value for guard types.
        oneOf:
        - title: Keyset
          description: |
            A keyset forms a rule made from a set of key/address values and a predicate function.
            When enforced, transaction signer list is evaluated against keyset.
          required: [keys,pred]
          properties:
            keys:
              type: array
              description: Set of public key/address values. Native pact public keys are ED25519 in base16 encoding.
              items:
                type: string
            pred:
              type: string
              description: |
                A pact function name. Built-in values are `keys-all` (match all keys in set),
                `keys-any` (match at least one), and `keys-2` (match at least 2).
                Custom functions have a fully-qualified name and
                must accept two integer arguments `count` (number of keys in set) and `matched`
                (number of set keys found in transaction set).
        - title: Keyset Reference
          description: Refers to a keyset in the Pact environment/database installed with `define-keyset`.
          required: [keysetref]
          properties:
            keysetref:
              type: string
              description: Installed keyset name.
        - title: User Guard
          description: |
            Closure of call to "guard function" which is a boolean user function with arguments.
          required: [fun,args]
          properties:
            fun:
              description: Fully-qualified guard function name.
              type: string
            args:
              description: Argument values to the guard function.
              type: array
              items:
                $ref: '#/components/schemas/pact-value'

        - title: Module Guard
          description: |
            Autonomous guard that only allows module code access, or requires module admin.
          required: [moduleName,name]
          properties:
            moduleName:
              required: [name,namespace]
              properties:
                name:
                  type: string
                  description: module bare name
                namespace:
                  type: string
                  description: module namespace
            name:
              type: string
              description: Distinguishing/informative name for module guard.
        - title: Pact Guard
          description: |
            Autonomous guard that only allows a particular pact execution, referenced by ID, to pass.
            Two executions of the same defpact code result in distinct pact IDs. A pact guard
            created inside of this execution will only pass when running that particular pact.
          required: [pactId,name]
          properties:
            pactId:
              description: Defpact execution ID.
              type: string
            name:
              type: string
              description: Distinguishing/informative name for pact guard.


    event:
      description: "Pact output event."
      properties:
        name:
          type: string
          description: Event defcap name.
        module:
          type: string
          description: Qualified module name of event defcap.
        params:
          type: array
          items:
            $ref: '#/components/schemas/pact-value'
        moduleHash:
          type: string
          description: Hash of emitting module.


    pact-error:
      description: |
        Verbose object describing failed execution.
      required: [message]
      properties:
        message:
          type: string
          description: "Descriptive error text."
        callStack:
          type: array
          items:
            type: string
        info:
          type: string
        type:
          type: string

    request-key:
      title: Request Key
      type: string
      description: Unique ID of a pact transaction consisting of its hash.
      pattern: "^[a-zA-Z0-9_-]{43}$"
      contentEncoding: base64url
      minLength: 43
      maxLength: 43
      example: y3aWL72-3wAy7vL9wcegGXnstH0lHi-q-cfxkhD5JCw


  # ########################################################################## #
  # Examples

  examples:

    command:
      { "hash": "H6XjdPHzMai2HLa3_yVkXfkFYMgA0bGfsB0kOsHAMuI",
        "sigs": [
          { "sig": "8d452109cc0439234c093b5e204a7428bc0a54f22704402492e027aaa9375a34c910d8a468a12746d0d29e9353f4a3fbebe920d63bcc7963853995db015d060f" }
        ],
        "cmd": "{\"payload\":{\"exec\":{\"data\":null,\"code\":\"(+ 1 2)\"}},\"signers\":[{\"pubKey\":\"368820f80c324bbc7c2b0610688a7da43e39f91d118732671cd9c7500ff43cca\"}],\"meta\":{\"gasLimit\":1000,\"chainId\":\"0\",\"gasPrice\":1.0e-2,\"sender\":\"368820f80c324bbc7c2b0610688a7da43e39f91d118732671cd9c7500ff43cca\"},\"nonce\":\"nonce-value\"}"
        }

    command-result:
      { "gas":123,
        "result":{
          "status":"success",
          "data":3
          },
        "reqKey":"cQ-guhschk0wTvMBtrqc92M7iYm4S2MYhipQ2vNKxoI",
        "logs":"wsATyGqckuIvlm89hhd2j4t6RMkCrcwJe_oeCYr7Th8",
        "metaData":null,
        "continuation":null,
        "txId":"456",
        "events": [ {
          "name": "TRANSFER",
          "params": ["Alice", "Bob", 10.0],
          "module": "coin",
          "moduleHash": "ut_J_ZNkoyaPUEJhiwVeWnkSQn9JT9sQCWKdjjVVrWo"
          } ]
        }




# ############################################################################ #
# Tag Groups

x-tagGroups:
- name: std-pact-api
  x-displayName: Standard Pact API
  tags:
  - endpoint-local
  - endpoint-send
  - endpoint-poll
  - endpoint-listen

- name: models
  x-displayName: Pact API models
  tags:
  - model-command
  - model-command-result
  - model-payload
  - model-pact-value

# ############################################################################ #
# Tags
# ############################################################################ #

tags:
- name: endpoint-local
  x-displayName: Non-transactional execution
- name: endpoint-send
  x-displayName: Transactional batch execution
- name: endpoint-poll
  x-displayName: Batch polling for results
- name: endpoint-listen
  x-displayName: Blocking listen for single transaction result

- name: model-command
  x-displayName: Pact Commands
  description: |
    <SchemaDefinition schemaRef="#/components/schemas/command" showReadOnly={true} showWriteOnly={true} />
- name: model-command-result
  x-displayName: Pact Command Results
  description: |
    <SchemaDefinition schemaRef="#/components/schemas/command-result" showReadOnly={true} showWriteOnly={true} />
- name: model-payload
  x-displayName: Pact Command Payloads
  description: |
    <SchemaDefinition schemaRef="#/components/schemas/payload" showReadOnly={true} showWriteOnly={true} />
- name: model-pact-value
  x-displayName: Pact Values
  description: |
    <SchemaDefinition schemaRef="#/components/schemas/pact-value" showReadOnly={true} showWriteOnly={true} />
